* {
  cursor: none !important;
  font-family: "Syncopate", sans-serif;
  font-weight: bold;
}

::selection {
  color: yellow;
  background-color: transparent;
}

body {
  margin: 0px;
  background-color: black;
  background-image: url("https://i.ibb.co/7CNwGmb/dots-wireframe.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.light {
  background-color: white;
  background-blend-mode: difference;
}

body::-webkit-scrollbar,
body.light::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
i {
  width: max-content;
  text-decoration: none;
  color: white;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light p,
.light a,
.light span,
.light button {
  width: max-content;
  text-decoration: none;
  color: black;
}

a:hover,
.hoverable:hover {
  color: red;
}

.light a:hover,
.light .hoverable:hover {
  color: blue;
}

.softness-top {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 3%;
  top: 0px;
  background: linear-gradient(0deg, transparent, black);
}

.light .softness-top {
  background: linear-gradient(0deg, transparent, white);
}

.softness-bottom {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 10%;
  bottom: 0px;
  background: linear-gradient(0deg, black, transparent);
}

.light .softness-bottom {
  background: linear-gradient(0deg, white, transparent);
}
