#title {
  margin-bottom: 10px;
  font-size: 15px;
}

#slogan {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 30px;
}

#contact {
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: "arial";
  font-weight: 400;
  font-size: 14px;
}

.contact-icon {
  margin-left: 7px;
}

.disappearance {
  background: linear-gradient(40deg, transparent, violet, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light .disappearance {
  filter: invert(1);
}

@media only screen and (max-width: 600px) {
  #title {
    font-size: 10px;
  }

  #slogan {
    font-size: 30px;
  }

  #contact {
    font-size: 15px;
  }
}
