#header {
  margin-bottom: 35px;
}

#header-title {
  margin-bottom: 10px;
  font-size: 15px;
}

#header-slogan {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 30px;
}

#header-contact {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "arial";
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.75px;
}

.contact-icon {
  margin-left: 7px;
  margin-bottom: 3px;
  vertical-align: middle;
}

.disappearance {
  background: linear-gradient(40deg, transparent, violet, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light .disappearance {
  filter: invert(1);
}

@media only screen and (max-width: 600px) {
  #header-title {
    font-size: 10px;
  }

  #header-slogan {
    font-size: 30px;
  }

  #header-contact {
    font-size: 15px;
  }
}
