#footer {
  display: flex;
}

#footer-images {
  width: 100%;
}

#footer-footnote {
  width: 100px;
  font-family: "Helvetica";
  font-size: 10px;
}

#footer-footnote > span > a {
  font-size: 10px;
  width: 100px;
  margin-left: 3px;
}

.footer-icon {
  margin-right: 3px;
  margin-bottom: 3px;
  vertical-align: middle;
}
