.skeleton-loader {
  margin: 0.5vh;
  background: linear-gradient(
    90deg,
    rgba(50, 50, 50, 0.5) 5%,
    rgba(255, 255, 255, 0.75) 18%,
    rgba(50, 50, 50, 0.5) 33%
  );
  background-size: 400% 100%;
  animation: 5s shine linear infinite;
}

.light .skeleton-loader {
  filter: invert(1);
}

@keyframes shine {
  to {
    background-position-x: -400%;
  }
}
